<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blockchain Client</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <!-- <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/static/vendor/DataTables/css/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link href="/static/css/custom.css" rel="stylesheet">-->
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">User</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Key Generator
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/make/transaction">Transmission</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view/transactions">View Results</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
<hr>

   <!--  -->
 <div class="col-lg-12 text-center">  
     
       <div class="card-title"> <b><font size="8" >Transmission work !</font></b></div> 
 </div>    
  
 
   <!-- Unmined Transactions Table -->
    <div class="container">
      <table id="unmined_transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>

      

    </div>

    <hr>
    <!-- Mined Transactions Table -->
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="card-body">
            <h4 class="card-title">MySQL ALL data: &nbsp;&nbsp;&nbsp;
              <button type="submit" id="refresh_blockchain" class="btn btn-sq-xs btn-primary">
                <i class="fa fa-refresh"></i>
              </button>
            </h4>
          </div>
        </div>
      </div>

    </div>  
      
    <!-- Blockchain Transactions Table -->
    <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
      
      

    </div>
    <hr> 
      
     
    
      <!-- Modal  <div class="row">  -->
      <div class="container">
       <div class="row justify-content-center"> 
         <div class="form-inline">
          <!--<div class="col-lg-12 text-center">-->
          
           
           <div class="form-group">
             <div class="col-sm-5"> 
               <label for="amount_input_data" > <font size="5">Add data : </font></label>
             </div>
              
               <input type="number" name="amount_input_data" id="amount_input_data" rows="1" size="1" class="form-control" >
             
               
               <div class="col-sm-2">
                 <input type="button" id="Input_data_button" class="btn btn-success btn-lg" value="Input data">
               </div>
               
            </div>
        </div>
      </div>
    </div>
   
     
      
      
      
      
      
      
    <!-- Blockchain Transactions Table -->
   <!-- <div class="container">
      <table id="transactions_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
      </table>
    </div>
     -->
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>
      
      
    <div class="container">
      <div class="row">
        <div class="col-lg-12">

          <div class="card-body">
            <div class="card-title"> <b><font size="6" >Electrical power parameters will be transmmited.</font></b> </div>
            <div class="card-text"> <font size="5" >Enter the power parameters and transaction of energy and click on "Start Transmission" button.</font> </div>
          </div>

        </div>
      </div>
    </div>

    <br>

    
 
      
      
      

    <div class="container alert alert-secondary">
    <form id="transaction_form" >
     <!-- 
        <div class="row">
          <label class="col-sm-2">User:</label>
          <div class="col-sm-10">
            <input type="text" name="sender_address" id="sender_address" rows="2" class="form-control">

          </div>
        </div>

        <br>
        
        
        
        <div class="row">
          <label class="col-sm-2">Receiver:</label>
          <div class="col-sm-10">
            <input type="text" name="recipient_address" id="recipient_address" rows="2" class="form-control">
          </div>
        </div>
      -->
        <br>
      <div class="container">
       <div class="alert alert-info" role="alert">    
       <div class="row">
        <div class="col-sm-2"><label ><font size="5"> User  :  </font></label></div>
        <div class="col-sm-4"><input type="text" name="sender_address" id="sender_address" rows="1" class="form-control"></div>

        <div class="col-sm-2"><label><font size="5">Receiver  : </font></label></div>
        <div class="col-sm-4"><input type="text" name="recipient_address" id="recipient_address" rows="1" class="form-control"></div>  
      </div>
      </div>  
     </div> 
      
        
    <div class="container">
     <div class="alert alert-danger " role="alert">   
      <div class="row">
        <div class="col-sm-2"><label > <font size="5"> Voltage (V)  : </font></label></div>
        <div class="col-sm-4"><input type="number" name="amount_voltage" id="amount_voltage" rows="1" class="form-control"></div>
        <div class="col-sm-2"><label> <font size="5"> Current (A)   : </font></label></div>
        <div class="col-sm-4"><input type="number" name="amount_current" id="amount_current" rows="1" class="form-control"></div>  
      </div>
     </div>    
    </div>    
        
      <!--  <div class="form-group">
          <div class="row"> 
            <div class="col-sm-5">
             <div class="row"> 
               <label class="col-sm-2">Voltage (V):</label>
               <div class="col-sm-3">
                 <input type="text" name="amount_voltage" id="amount_voltage" rows="2" class="form-control">
               </div>
           </div>
          </div
         <div class="row"> 
            <label class="col-sm-2">Voltage_2 (V):</label>
              <div class="col-sm-3">
               <input type="text" name="amount_voltage" id="amount_voltage" rows="2" class="form-control">
              </div>
          </div>  
        </div>-->
       
     <!--     <div class="col-sm-10">
            <label class="col-sm-6">Current (A) :</label>
            <div class="col-sm-4">
            <input type="text" name="amount_current" id="amount_current" rows="1" class="form-control">
            
          </div>
      </div>  -->
    
       
        
        
        
      <!--   <div class="row">
          <label class="col-sm-2">Power (W):</label>
          <div class="col-sm-10">
            <input type="text" name="amount_power" id="amount_power" rows="2" class="form-control">
          </div>
        </div>
        
        <br>
        
        <div class="row">
          <label class="col-sm-2">Electrical energy <br>   (kW-hr):</label>
          <div class="col-sm-10">
            <input type="text" name="amount_energy" id="amount_energy" rows="1" class="form-control">
          </div>
        </div> -->
        
    <div class="container">
     <div class="alert alert-success  " role="alert">   
      <div class="row">
        <div class="col-sm-2"><label > <font size="5">Power (W)  : </font></label></div>
        <div class="col-sm-4"><input type="number" name="amount_power" id="amount_power" rows="1" class="form-control"></div>
        <div class="col-sm-2"><label><b> <font size="5" >Eenergy  : </font></b></label></div>
        <div class="col-sm-4"><input type="number" name="amount_energy" id="amount_energy" rows="1"  style="color:blue; font-weight:bold;" class="form-control"></div>  
      </div>
     </div>    
    </div>    
        
        
    <div class="container">
     <div class="alert alert-warning" role="alert">   
      <div class="row">
        <div class="col-sm-2"><label > <b> <font size="5" >Tran-energy: </font></b></label></div>
        <div class="col-sm-4"><input type="number" name="amount_transaction_energy" id="amount_transaction_energy" rows="1" style="color:red; font-weight:bold;" class="form-control"></div>
        <div class="col-sm-2"><label> <font size="5">Datatime  : </font></label></div>
        <div class="col-sm-4"><input type="datetime-local" name="amount_datatime" id="amount_datatime" rows="1"  class="form-control"></div>  
      </div>
     </div>    
    </div>        
       
        
         
      <!--           
         <div class="row"> 
          <label class="col-sm-2">Transaction energy (kW-hr):</label>
          <div class="col-sm-10">
            <input type="text" name="amount_transaction_energy" id="amount_transaction_energy" rows="2" class="form-control">
          </div>
        </div>
        
        <br>
        
        <div class="row">
          <label class="col-sm-2">Datatime:</label>
          <div class="col-sm-10">
            <input type="text" name="amount_datatime" id="amount_datatime" rows="2" class="form-control">
          </div>
        </div>
        
        <br>
       -->
      <div class="container">
        <div class="alert alert-dark " role="alert">          
        <div class="row">
          <label class="col-sm-2"><font size="5">Private_Key  : </font></label>
          <div class="col-sm-10">
            <input type="text" name="sender_private_key" id="sender_private_key" rows="2" class="form-control">
          </div>
         </div>
        </div>
      </div>
            
            
            
        <br>
        <div class="col-sm-10">
           <input type="hidden"  name="public_key_to_master" id="public_key_to_master" rows="2" class="form-control">
        <!-- 
            <input type="text"  name="public_key_to_master" id="public_key_to_master" rows="2" class="form-control">
         -->
         </div>
        
        
        
      <!-- Modal  <div class="row">  -->
        <div class="modal-footer">
          <!--<div class="col-lg-12 text-center">-->
           <div> 
           <input type="button" id="Write_Private_key" class="btn btn-info btn-lg" value="Write Private key">
           <input type="button" id="generate_transaction" class="btn btn-primary btn-lg" value="Start Transmission">
          </div>
        </div>

        <br>        
        
    </form>
    </div>


    <!-- Modal -->
    <div class="modal modal-alert fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">

        <div class="modal-content">

          <div class="modal-header">
            <div class="modal-title col-md-10">Confirm transaction details, enter a blockchain node url and click on "Confirm Transaction" to finalize your transaction.</div>
            <button type="button" class="close col-md-2" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">

            <form id="confirmation_transaction_form">

                <div class="row">
                  <label class="col-sm-12">User:</label>
                  <div class="col-sm-12">
                    <input type="text" name="sender_address" id="confirmation_sender_address" rows="2" class="form-control" readonly>

                  </div>
                </div>

                <div class="row">
                  <label class="col-sm-12">Receiver:</label>
                  <div class="col-sm-12">
                    <input type="text" name="recipient_address" id="confirmation_recipient_address" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-sm-12">Voltage data (V): </label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_voltage" id="confirmation_voltage" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-sm-12">Current data (A):</label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_current" id="confirmation_current" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-sm-12">Power data (kW):</label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_power" id="confirmation_power" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                <div class="row">
                  <label class="col-sm-12">Electrical energy data (kW-hr):</label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_energy" id="confirmation_energy" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                 <div class="row">
                  <label class="col-sm-12">Transaction energy (kW-hr):</label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_transaction_energy" id="confirmation_transaction_energy" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                
                
                <div class="row">
                  <label class="col-sm-12">Measurement time:</label>
                  <div class="col-sm-12">
                    <input type="text" name="amount_datatime" id="confirmation_datatime" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
                
                
               
                
                <div class="row">
                  <label class="col-sm-12">Signature:</label>
                  <div class="col-sm-12">
                    <input type="text" name="signature" id="transaction_signature" rows="2" class="form-control" readonly>
                  </div>
                </div>
                
               <!-- <div class="invisible"> -->
                <div class="row">
                  <label class="col-sm-12">public_key:</label>
                  <div class="col-sm-12">
                    <input type="text" name=public_key_to_master id="confirmation_public_key_to_master" rows="2" class="form-control" readonly>
                  </div>
                </div>
                <!-- </div>-->


            </form>


            <div class="row">
              <label class="col-sm-12">Blockchain Node URL:</label>  
              <div class="col-sm-12">
                <input type="text" name="node_url" id="node_url" rows="2" class="form-control" value="http://127.0.0.1:2000">
              </div>
            </div>

            
             <div class="row">
            <!--   <label class="col-sm-12">Blockchain Node URL:</label>  -->
              <div class="col-sm-12">
                <input type="text" name="node_url_2" id="node_url_2" rows="2" class="form-control" value="http://127.0.0.1:2002">
              </div>
            </div> 
              
              
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="button" id="button_confirm_transaction" class="btn btn-success">Confirm Transaction</button>
          </div>

        </div>

      </div>
    </div>


    <!-- Alert Message for successful transaction -->
    <div class="modal modal-alert fade" id="success_transaction_modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>

          <div class="modal-body">
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Successful Transaction!</h4>
              <p>You successfully completed your transaction. It will be added to the next block.</p>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" id="button_confirm_transaction" class="btn btn-success" data-dismiss="modal">OK</button>
          </div>

        </div>
      </div>
    </div>



    <!-- Bootstrap core JavaScript -->
  <!--  <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
   --> 
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/vendor/DataTables/js/datatables.min.js"></script>
    <script src="/static/vendor/DataTables/js/ellipsis.js"></script>  
      
      

    <script>
     
     var transactions_b = [];   
        
    
        
        
        
        
        $(function () {
          $("#Write_Private_key").click(function () {

            $.ajax({
              url: "/Write_Private_key",
              type: "GET",
              success: function(response){

               document.getElementById("sender_private_key").value = response["Write_Private_key"]
                
                 
               //$("#basicModal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                console.log('#####');  
              }
            });

          });
      });
  
        
        
        
        
      $(function () {
          $("#generate_transaction").click(function () {

            $.ajax({
              url: "/generate/transaction",
              type: "POST",
              dataType : 'json',
              data: $('#transaction_form').serialize(),
              success: function(response){

                document.getElementById("confirmation_sender_address").value = response["transaction"]["sender_address"];
                document.getElementById("confirmation_recipient_address").value = response["transaction"]["recipient_address"];
                document.getElementById("confirmation_voltage").value = response["transaction"]["value_voltage"];
                document.getElementById("confirmation_current").value = response["transaction"]["value_current"];
                document.getElementById("confirmation_power").value = response["transaction"]["value_power"];
                document.getElementById("confirmation_energy").value = response["transaction"]["value_energy"];                
                document.getElementById("confirmation_transaction_energy").value = response["transaction"]["value_transaction_energy"]; 
                document.getElementById("confirmation_datatime").value = response["transaction"]["value_datatime"];
                document.getElementById("confirmation_public_key_to_master").value =response["transaction"]["value_public_key_to_master"];  
                document.getElementById("transaction_signature").value = response["signature"];
                 
                $("#basicModal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                console.log('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@');  
              }
            });

          });
      });


      $(function () {
          $("#button_confirm_transaction").click(function () {
            //console.log($('#confirmation_transaction_form').serialize());


            $.ajax({
              url: document.getElementById("node_url").value + "/transactions/new",
              type: "POST",
              headers: {'Access-Control-Allow-Origin':'*'},
              dataType : 'json',
              data: $('#confirmation_transaction_form').serialize(),
              success: function(response){

                //reset both forms
                $("#transaction_form")[0].reset();
                $("#confirmation_transaction_form")[0].reset();
                
                //clean text boxes
                $("#sender_address").val("");
                $("#sender_private_key").val("");
                $("#recipient_address").val("");
                $("#amount_voltage").val("");
                $("#amount_current").val("");
                $("#amount_power").val("");
                $("#amount_energy").val("");  
                $("#amount_datatime").val("");  
                $("#amount_transaction_energy").val("");
                $("#basicModal").modal('hide');
                $("#success_transaction_modal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                
              }
            });
              
            
             $.ajax({
              url: document.getElementById("node_url_2").value + "/transactions/new",
              type: "POST",
              headers: {'Access-Control-Allow-Origin':'*'},
              dataType : 'json',
              data: $('#confirmation_transaction_form').serialize(),
              success: function(response){

                //reset both forms
                $("#transaction_form")[0].reset();
                $("#confirmation_transaction_form")[0].reset();
                
                //clean text boxes
                $("#sender_address").val("");
                $("#sender_private_key").val("");
                $("#recipient_address").val("");
                $("#amount_voltage").val("");
                $("#amount_current").val("");
                $("#amount_power").val("");
                $("#amount_energy").val("");  
                $("#amount_datatime").val("");  
                $("#amount_transaction_energy").val("");
                $("#basicModal").modal('hide');
                $("#success_transaction_modal").modal('show');
                
              },
              error: function(error){
                console.log(error);
                
              }
            });
  
              

          });
      });

     
      /// Mysql_user_dat (BEGIN)
      $(function(){
        $.ajax({
          url: "/Mysql_user_data",
          type: 'GET',
          success: function(response){

              //Generate Transactions Table
              var ransaction_b = [];
              
              transactions_b = response["transactions_total"];
              count = 1;
           
             
            // Restrict a column to 10 characters, do split words
              $('#transactions_table').dataTable( {
                data: transactions_b,
                columns: [{ title: "#" },
                          { title: "User"},
                          { title: "Receiver"},
                          { title: "Voltage(V)"},
                          { title: "Current(A)"},
                          { title: "Power(W)"},
                          { title: "Energy(KW-hr)"},
                          { title: "Datatime"},
                          //{ title: "Datatime"},
                          
                          ],
                columnDefs: [ {targets: [1,2,3], render: $.fn.dataTable.render.ellipsis( 25 )}]
              } );

          },
          error: function(error){
            console.log(error);
          }
        });
  

        $("#refresh_blockchain").click(function () {

          $.ajax({
            url: "/Mysql_user_data",
            type: "GET",
            success: function(response){

              window.location.reload();
              
            },
            error: function(error){
              console.log(error);
            }
          });

        });


        

      })


        
      /// Mysql_user_dat (END)   
     

     
     
    
     $("#Input_data_button").click(function () {
          
         aa=amount_input_data.value-1;
         chain_length=transactions_b.length-1;
         if (aa>=0 && aa<=chain_length) 
             {
              sender_address.value =transactions_b[aa][1];
              recipient_address.value =transactions_b[aa][2];
              amount_voltage.value =transactions_b[aa][3];  
              amount_current.value =transactions_b[aa][4]; 
              amount_power.value =transactions_b[aa][5]; 
              amount_energy.value =transactions_b[aa][6];
              amount_datatime.value =transactions_b[aa][7];
             }
             
          else
             {sender_address.value ="";
              recipient_address.value ="";
              amount_voltage.value ="";  
              amount_current.value =""; 
              amount_power.value =""; 
              amount_energy.value ="";
              amount_datatime.value ="";
             };
        });   
        
        
        /*    
      /// Input_data_button (Start)   
        $("#Input_data_button").click(function () {
        //var aa;
        // for(i=0;i<=transactions_b.length;i++){
             aa=amount_input_data.value-1;
            sender_address.value =aa
　       if (-1<aa<3) 
             {
             // sender_address.value =transactions_b[aa][1];
              recipient_address.value =transactions_b[aa][2];
              amount_voltage.value =transactions_b[aa][3];  
              amount_current.value =transactions_b[aa][4]; 
              amount_power.value =transactions_b[aa][5]; 
              amount_energy.value =transactions_b[aa][6];
              amount_datatime.value =transactions_b[aa][7];
             }
         else 
             {
              sender_address.value ="hhh";
              recipient_address.value ="ggg";
              amount_voltage.value =112;  
              amount_current.value =2.5; 
              amount_power.value =300; 
              amount_energy.value =1.1;
              amount_datatime.value =123;
             };
         
        });
     
      /// Input_data_button (END)     
        */  
        
        
        
        
    </script>


  </body>

</html>
